{% extends 'base_layout.html' %}

{% block content %}
<div class="container">
    <div class="columns">
        <div class="column">
            <div class="box">
                <form action="{% url 'shop:create_order' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="title">
                        Shipping information
                    </div>
                    {% for field in form %}
                    <div class="field">
                        <label for="{{ field.id_for_label }}" class="label">
                            {{ field.label }}
                        </label>
                        {{ field }}
                    </div>
                    {% endfor %}
                    <button class="button is-success is-fullwidth" type="submit">
                        Submit
                    </button>
                </form>
            </div>
        </div>
        <div class="column is-6">
            <div class="box">
                <a class="button is-danger" href="{% url 'shop:cart' %}">Back to cart</a>
                <hr>
                <div class="title">Order Summary</div>
                <table class="table is-fullwidth">
                    <thead>
                        <tr class="has-text-weight-bold">
                            <td></td>
                            <td>Product</td>
                            <td>Price</td>
                            <td>Quantity</td>
                            <td>Total</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart_items %}
                            <tr>
                                <td>
                                    <img src="{{ item.product.thumb.url }}" width="50" height="50" alt="">
                                </td>
                                <td>{{ item }}</td>
                                <td>{{ item.product }} sum</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.total_price }} sum</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
               <p class="title is-4">
                Total: {{ total_price }} sum
               </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}